.header {
  // height: 100vh;
  .nav {
    text-transform: uppercase;
    color: $darkBlue;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid $darkBlue;

    @include breakpoint-down(mobile) {
      flex-direction: column;
      align-items: center;
      padding: 2rem 1.5rem 0;
    }

    img {
      width: 85px;

      @include breakpoint-down(lg) {
        width: 50px;
      }

      @include breakpoint-down(mobile) {
        width: 85px;
        margin-bottom: 1.5rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-sm;

      @include breakpoint-down(mobile) {
        flex-direction: column;
      }

      li {
        @include breakpoint-down(mobile) {
          margin-bottom: 1.7rem;
        }
      }
      li a {
        color: $darkBlue;
        padding: 0.5rem 0;
        margin: 0 1rem;
        transition: all 150ms ease-in-out;

        @include breakpoint-down(lg) {
          margin: 0 0.5rem;
        }

        &:hover {
          border-bottom: 2px solid $darkBlue;
        }
      }
    }
  }

  &__hero {
    margin-top: 2.4rem;
  }

  &__img {
    width: 90%;
    max-height: 390px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
