.header {
  // height: 100vh;
  .nav {
    text-transform: uppercase;
    color: $darkBlue;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-weight: 500;
    border-bottom: 1px solid $darkBlue;

    img {
      width: 85px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-sm;

      li {
      }
      li a {
        color: $darkBlue;
        padding: 0.5rem 1rem;
        transition: all 150ms ease-in-out;

        &:hover {
          border-bottom: 2px solid $darkBlue;
        }
      }
    }
  }

  &__hero {
    margin-top: 2.4rem;
  }

  &__img {
    width: 90%;
    max-height: 390px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
