.travel-stories {
  h4 {
    margin-bottom: 0.5rem;
  }
  .flex__item:nth-child(2) .img__container--1 {
    > :first-child {
      margin-right: 0.25rem;
    }
  }
}

.travel-tales {
  padding-bottom: 8rem;

  h4 {
    margin-bottom: 0.5rem;
  }

  .grid__item:last-child {
    grid-column: 1 / 5;
    justify-self: center;
    margin-top: 2rem;
  }
}
